/* form starting stylings ------------------------ */

body {
	background: url(https://picsum.photos/1920/320/) no-repeat;
}

.container {
	margin: 0 auto;
	width: 500px;
	background-color: rgba(213,115,71,0.8);
}

.container h2 {
	text-align: center;
}

.group {
	margin: 0 auto;
	position: relative;
	padding-bottom: 45px;
	width: 350px;
}

input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 300px;
	border: none;
	border-bottom: 1px solid #757575;
	background: rgba(255,255,255,0.8);
}

input:focus {
	outline: none;
}

/* LABEL =============== */

label {
	color: #999;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 0.2s ease all;
}

/* active state */

input:focus ~ label, input:valid ~ label {
	top: -20px;
	font-size: 14px;
	color: #5264ae;
}

/* BOTTOM BARS ======= */
.bar {
	position: relative;
	display: block;
	width: 300px;
}

.bar:before, .bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #5264ae;
	transition: 0.2s ease all;
}

.bar:before {
	left: 50%;
}

.bar:after {
	right: 50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
	width: 50%;
}

/* HIGHLIGHTER ============= */

.highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ======= */

@keyframes  inputHighlighter {
	from {
		background: #5264ae;
	}
	to {
		width: 0; 
		background: transparent;
	}
}









